/* border-secondary-200 dark:border-secondary-600 flex select-none items-center justify-between py-4 */

.nav-container {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-container2 {
    position: relative;
    z-index: 0;
    margin-top: 0.5rem;
    display: inline-flex;
}
.nav-container3 {
    position: relative;
    display: inline-flex;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-width: 1px;
    border-color: darkgray;
    background-color: white;
    padding: 0.5rem;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    font-weight: 500;
    color: silver;
}
.nav-containerZ {
    padding: 4px;
}
